<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="apps-editors-menu" label="Editors">
  <item label="Emacs">
    <action name="Execute">
      <command>emacs</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Emacs</wmclass>
      </startupnotify>
    </action>
  </item>

  <item label="Emacs (client)">
    <action name="Execute">
      <command>emacsclient --create-frame --alternate-editor ''</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Emacs</wmclass>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-term-menu" label="Terminals">
  <item label="Alacritty">
    <action name="Execute">
      <command>alacritty</command>
    </action>
  </item>

  <item label="St">
    <action name="Execute">
      <command>st</command>
    </action>
  </item>
</menu>

<menu id="apps-repls-menu" label="REPLs">
  <item label="Common Lisp">
    <action name="Execute">
      <command>st -e rlwrap sbcl</command>
    </action>
  </item>

  <item label="Erlang">
    <action name="Execute">
      <command>st -e rlwrap --always-readline erl</command>
    </action>
  </item>

  <item label="Python">
    <action name="Execute">
      <command>st -e python</command>
    </action>
  </item>

  <item label="Python (bpython)">
    <action name="Execute">
      <command>st -e bpython</command>
    </action>
  </item>

  <item label="Python (ipython)">
    <action name="Execute">
      <command>st -e ipython</command>
    </action>
  </item>
</menu>

<menu id="apps-internet-menu" label="Internet">
  <item label="Chromium">
    <action name="Execute">
      <command>chromium</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Chromium</wmclass>
      </startupnotify>
    </action>
  </item>

  <item label="Firefox">
    <action name="Execute">
      <command>firefox</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Firefox</wmclass>
      </startupnotify>
    </action>
  </item>

  <item label="Librewolf">
    <action name="Execute">
      <command>librewolf</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Librewolf</wmclass>
      </startupnotify>
    </action>
  </item>

  <item label="Qutebrowser">
    <action name="Execute">
      <command>qutebrowser</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Qutebrowser</wmclass>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-utils-menu" label="Utils">
  <item label="Flameshot">
    <action name="Execute">
      <command>flameshot gui</command>
    </action>
  </item>

  <item label="Gimp">
    <action name="Execute">
      <command>gimp</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>

  <item label="Inkscape">
    <action name="Execute">
      <command>inkscape</command>
    </action>
  </item>

  <item label="KeePassXC">
    <action name="Execute">
      <command>keepassxc</command>
    </action>
  </item>

  <item label="Xournal++">
    <action name="Execute">
      <command>xournalpp</command>
    </action>
  </item>

  <item label="XClock">
    <action name="Execute">
      <command>xclock</command>
    </action>
  </item>

  <item label="Zeal">
    <action name="Execute">
      <command>zeal</command>
    </action>
  </item>
</menu>

<menu id="system-menu" label="Management">
  <item label="Lock Screen">
    <action name="Execute">
      <command>xscreensaver-command --lock</command>
    </action>
  </item>

  <item label="Reboot">
    <action name="Execute">
      <command>reboot</command>
    </action>
  </item>

  <item label="Poweroff">
    <action name="Execute">
      <command>poweroff</command>
    </action>
  </item>

  <item label="Log Out">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>

  <separator />
  <item label="Openbox Configuration Manager">
    <action name="Execute">
      <command>obconf</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>

  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <separator label="Programs" />

  <menu id="apps-editors-menu"/>
  <menu id="apps-internet-menu"/>
  <menu id="apps-repls-menu"/>
  <menu id="apps-term-menu"/>
  <menu id="apps-utils-menu"/>

  <item label="Run Programs">
    <action name="Execute">
      <command>,dmenu_run_xres</command>
    </action>
  </item>

  <separator label="System" />
  <menu id="system-menu"/>
  <menu id="session-management-menu"/>

  <separator />
  <item label="Clear selections">
    <action name="Execute">
      <command>,clipcl</command>
    </action>
  </item>

  <item label="Kill Window">
    <action name="Execute">
      <command>xkill</command>
    </action>
  </item>
</menu>

</openbox_menu>
