! X Resources configuration file

! Patched nerd fonts with working font-awesome glyphs
URxvt*font: xft:UbuntuMono Nerd Font Mono:pixelsize=16
URxvt*boldFont: xft:UbuntuMono Nerd Font Mono:bold:pixelsize=16

UXTerm*font: xft:UbuntuMono Nerd Font Mono:pixelsize=16
UXTerm*boldFont: xft:UbuntuMono Nerd Font Mono:bold:pixelsize=16

XTerm*font: xft:UbuntuMono Nerd Font Mono:pixelsize=16
XTerm*boldFont: xft:UbuntuMono Nerd Font Mono:bold:pixelsize=16

! Extra stuff
URxvt*saveLines: 1024
XTerm*saveLines: 1024

URxvt*scrollBar: false
URxvt*scrollstyle: rxvt
URxvt*cursorBlink: 1

XTerm.vt100.selectToClipboard: true

! URxvt extensions
URxvt.perl-ext: default,confirm-paste,url-select,keyboard-select,selection-to-clipboard

! Yankable URLs from keyboard: use 'M-u'
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

! Keyboard text selection
URxvt.keysym.M-c: perl:keyboard-select:activate
URxvt.keysym.M-f: perl:keyboard-select:search

